.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &__container {
    width: 340px;

    .title {
      text-align: center;
    }

    .container__title {
      margin-bottom: 72px;
    }
  }
}