:root {
  --color-black: #181b17;
  --color-white: #ffffff;
  --color-green: #3cb63a;
  --color-dark-green: #2a8322;
  --color-outline: #d9d9d9;
  --color-grey: #cbcaca;
  --color-dark-grey: #707070;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--color-black);
}