<main class="fullscreen">
  <div class="home fullscreen__container">
    <h1 class="home__title">Выбери страничку</h1>
    <div class="home__container">
      {{#each buttons}}
      {{> button }}
      {{/each}}
    </div>
  </div>
</main>