<main class="fullscreen">
  <div class="error fullscreen__container">
    <h1 class="error__title">{{ status }}</h1>
    <p class="error__subtitle">{{ description }}</p>
    {{> button label=link.label className='button_style_outline' onClick=link.linkTo }}
  </div>
</main>